#tiempo{
	border:solid black;background-color:#5CCCCC;font-size:500%;
}

#act{
position:relative;left:20%;
height:120px;
width:120px;
}

#deuda{
font-size:250%;
width:70px;
}

.pesos{
font-size:25pt;
}

.centrado{
position:relative;left:120px;
}

.clasic{
border:solid;background-color:#3CC;
}

#vacia{
border:solid;background-color:#FFF;
}

#finaliza{
border:solid;background-color:#FF7600;
}

#total{
border:solid;background-color:#FFF700;
}
#inicia{
border:solid;background-color:#36D695;
}
